/*-- scss:defaults --*/
//Colors
$green: #D4EDC2;
$orange: #FFF6C8;
$purple: #AE6FAA;
$blue: #CEE1F2;
$text_color: #131515;

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;700&display=swap');

//base Document bg
$navbar-bg: $orange;
$navbar-fg:$text_color;
$body_bg: $blue;
$footer-bg: $orange;
$link-color:$purple;

/*-- scss:rules --*/
h1 {
  letter-spacing: 3px;
  color: $text_color;
}

h2 {
  letter-spacing: 2px;
  color: $text_color;
}

h3 {
  letter-spacing: 2px;
  color: $text_color;
}

.title{
  color: $text_color;
}

.center-text {
  text-align: center;
}