/*-- scss:defaults --*/
//Colors
$white: #FEF8EA;
$apricot: #FCCEB3;
$green: #AFCCA6;
$honeydew: #D3E0D3;
$brown: #91681E;
$text_color: #131515;

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito:wght@300;800&family=Roboto+Mono:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// fonts
$nunito: 'Lato', sans-serif; 
$playfair: 'Playfair Display', Serif;


//base Document bg
$navbar-bg: $white;
$navbar-fg:$text_color;
$body_bg: $honeydew;
$footer-bg: $white;
$link-color:$brown;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-family: $playfair; 
  letter-spacing: 2px;
  font-weight: 700;
  color: $text_color;
}

body {
  font-family: $nunito;
  line-height: 1.5; 
  font-size: 19.5px;
  font-weight: 400;
  color: $text_color;
}

// figure caption text styling
.figure-caption {
  color: $text_color;
  font-style: italic;
}

.menu-text {
  font-family: $playfair; 
  letter-spacing: 2px;
  font-weight: 400;
  color: $text_color;
}

.navbar-title {
  font-family: $playfair; 
  letter-spacing: 1px;
  font-weight: 700;
  color: $text_color;
}

.title{
  color: $text_color;
}

.center-text {
  text-align: center;
}

.navbar-brand img { 
  max-height: 95px;
  width: auto;
}