/*-- scss:defaults --*/
//Colors
$light_cool: #DBE4CE;
$light_warm: #FAFADD;
$medium_color: #AEC8C5;
$dark_cool: #5C4742;
$dark_warm:  #DED3B6;
$header_col: #2E4756;

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;700&display=swap');

//base Document bg
$navbar-bg: $dark_cool;
$navbar-fg:$dark_warm;
$body_bg: $light_warm;
$footer-bg: $dark_warm;
$link-color:$medium_color;

/*-- scss:rules --*/
h1 {
  letter-spacing: 3px;
  color: $header_col;
}

h2 {
  letter-spacing: 2px;
  color: $header_col;
}

h3 {
  letter-spacing: 2px;
  color: $header_col;
}

.title{
  color: $header_col;
}

.center-text {
  text-align: center;
}